<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Category - Blogpy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/vendor.css">
    <link rel="stylesheet" href="static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="index.html">
                BLOGPY
            </a>
        </div> <!-- end header__logo -->

        <a class="header__toggle-menu" href="#0" title="Menu"><span>منو</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">هدایت به</h2>

            <ul class="header__nav">
                <li><a href="{% url 'contact' %}" title="">تماس</a></li>
                <li><a href="{% url 'about' %}" title="">درباره</a></li>
                <li>
                    <a href="{% url 'category' %}" title="">دسته بندی</a>
                </li>

                <li class="current"><a href="{% url 'index' %}" title="">خانه</a></li>
            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">بستن</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="display-1 display-1--with-line-sep">دسته بندی ها</h1>
                <p class="lead">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
            </div>
        </div>


            <div class="row entries-wrap wide">
                <div class="entries">

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/lamp-400.jpg"
                                         srcset="static/images/thumbs/post/lamp-400.jpg 1x, static/images/thumbs/post/lamp-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">طراحی</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">مزایای مینیمالیسم در طراحی داخلی</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 15, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/tulips-400.jpg"
                                         srcset="static/images/thumbs/post/tulips-400.jpg 1x, static/images/thumbs/post/tulips-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">سلامتی</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">چند واقعیت جالب درباره کافئین</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 14, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/music-400.jpg"
                                         srcset="static/images/thumbs/post/music-400.jpg 1x, static/images/thumbs/post/music-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">سلامتی</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">قدرت موسیقی در کاهش استرس</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 14, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/watch-400.jpg"
                                         srcset="static/images/thumbs/post/watch-400.jpg 1x, static/images/thumbs/post/watch-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">مدیریت</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">تکنیک پومودورو واقعاً کار می کند</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 12, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/wheel-400.jpg"
                                         srcset="static/images/thumbs/post/wheel-400.jpg 1x, static/images/thumbs/post/wheel-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">سبک زندگی</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">بازدید از پارکهای تفریحی سلامت شما را بهبود می بخشد</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 12, 2017</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/guitarist-400.jpg"
                                         srcset="static/images/thumbs/post/guitarist-400.jpg 1x, static/images/thumbs/post/guitarist-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">موزیک</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">آنچه ترجیح موسیقی تان درباره شما و شخصیت شما می گوید</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 02, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/jump-400.jpg"
                                         srcset="static/images/thumbs/post/jump-400.jpg 1x, static/images/thumbs/post/jump-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">روابط</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">لحظات خانوادگی پربار ایجاد کنید</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 02, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/flowers-400.jpg"
                                         srcset="static/images/thumbs/post/flowers-400.jpg 1x, static/images/thumbs/post/flowers-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">سبک زندگی</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">باغبانی: راز خوشبختی
                                </a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">June 01, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/woodcraft-400.jpg"
                                         srcset="static/images/thumbs/post/woodcraft-400.jpg 1x, static/images/thumbs/post/woodcraft-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">خلاقیت</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">بررسی طرح های مینیمالیست
                                </a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">May 30, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/fuji-400.jpg"
                                         srcset="static/images/thumbs/post/fuji-400.jpg 1x, static/images/thumbs/post/fuji-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">خلاقیت</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">چه مهارت هایی برای یک عکاس لازم است؟</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">May 30, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/beetle-400.jpg"
                                         srcset="static/images/thumbs/post/beetle-400.jpg 1x, static/images/thumbs/post/beetle-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">سبک زندگی</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">بازگشت به روزهای خوب گذشته</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">May 28, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="single-standard.html" class="item-entry__thumb-link">
                                    <img src="static/images/thumbs/post/sydney-400.jpg"
                                         srcset="static/images/thumbs/post/sydney-400.jpg 1x, static/images/thumbs/post/sydney-800.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="category.html">مسافرت</a>
                                </div>

                                <h1 class="item-entry__title"><a href="single-standard.html">اولین سفر خود را به سیدنی برنامه ریزی کنید</a></h1>

                                <div class="item-entry__date">
                                    <a href="single-standard.html">May 28, 2018</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                </div> <!-- end entries -->
            </div> <!-- end entries-wrap -->

            <div class="row pagination-wrap">
                <div class="col-full">
                    <nav class="pgn" data-aos="fade-up">
                        <ul>
                            <li><a class="pgn__prev" href="#0">قبل</a></li>
                            <li><a class="pgn__num" href="#0">۱</a></li>
                            <li><span class="pgn__num current">۲</span></li>
                            <li><a class="pgn__num" href="#0">۳</a></li>
                            <li><a class="pgn__num" href="#0">۴</a></li>
                            <li><a class="pgn__num" href="#0">۵</a></li>
                            <li><span class="pgn__num dots">…</span></li>
                            <li><a class="pgn__num" href="#0">۸</a></li>
                            <li><a class="pgn__next" href="#0">بعد</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </section> <!-- end s-content -->



        <!-- s-footer
        ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-six tab-full s-footer__about">

                    <h4>درباره BLOGPY</h4>

                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                </div> <!-- end s-footer__about -->

                <div class="col-six tab-full s-footer__subscribe">

                    <h4>Our Newsletter</h4>

                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="ارسال">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="#0"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>

            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->

    <!-- Java Script
    ================================================== -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>
